@model Senhas.Models.Entities.Senha

@{
    ViewData["Title"] = "Senha Gerada";
}





<div class="senha-container">
    <h2 class="senha-subtitulo">Sua senha é</h2>

    <div class="senha-codigo">
        @Model.Codigo
    </div>

    <p class="senha-mensagem">
        Aguarde ser chamado no painel.
    </p>

    <a asp-action="Gerar" class="senha-botao">
        Retirar outra senha
    </a>
</div>

<style>
    :root {
        --cor-primaria: #000000;
        --cor-secundaria: #F6F6F6;
        --cor-terciaria: #22D4FD;
        --cor-hover: #22D4FD;
        --cor-quarta: #1581BF;
        --fonte-primaria: 'Krona One', sans-serif;
        --fonte-secundaria: 'Montserrat', sans-serif;
    }

    /* =========================
           CONTAINER
        ========================= */
    .senha-container {
        min-height: 100vh;
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .senha-subtitulo {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .senha-codigo {
        font-size: 7rem;
        font-weight: bold;
        color: var(--cor-terciaria);
        margin-bottom: 30px;
    }

    .senha-mensagem {
        color: #DC3C22;
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .senha-botao {
        padding: 18px 40px;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid var(--cor-terciaria);
        color: var(--cor-quarta);
        text-decoration: none;
        transition: transform 0.2s ease, background-color 0.2s ease;
    }

        .senha-botao:hover {
            background-color: var(--cor-terciaria);
            color: #000;
            transform: scale(1.05);
        }
</style>
