:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #22D4FD;
    --cor-hover: #1bb9dd;
    --fonte: 'Montserrat', Arial, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte);
}
main, .apresentacao__links {
    flex-shrink: 0;
}
/* ---------------- NAVBAR ---------------- */
.navbar {
    background-color: rgba(0, 0, 0, 0.95) !important;
    border-bottom: 1px solid rgba(34, 212, 253, 0.25);
}

.navbar-brand {
    color: var(--cor-terciaria) !important;
    font-weight: 800;
    letter-spacing: 1px;
}

.navbar-toggler {
    border-color: var(--cor-secundaria);
}

.navbar-toggler-icon {
    filter: invert(1);
}

.nav-link {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--cor-secundaria) !important;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.25s ease;
}

    .nav-link:hover {
        background-color: var(--cor-terciaria);
        color: #000 !important;
    }

/* ---------------- BOTÕES ---------------- */
.btn-primary {
    background-color: var(--cor-terciaria) !important;
    color: #000 !important;
    border: none;
    font-weight: bold;
    transition: 0.2s;
}

    .btn-primary:hover {
        background-color: var(--cor-hover) !important;
        transform: scale(1.03);
    }

/* ---------------- TITULOS ---------------- */
h1, h2, h3, h4 {
    color: var(--cor-terciaria);
    font-weight: 800;
}

/* ---------------- CARDS ---------------- */
.card {
    background-color: #0b0b0b;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 12px;
    color: var(--cor-secundaria);
}

    .card:hover {
        border-color: var(--cor-terciaria);
    }

/* ---------------- TABELAS ---------------- */
table {
    color: var(--cor-secundaria);
}

    table thead {
        background-color: #0e0e0e;
        border-bottom: 2px solid var(--cor-terciaria);
    }

/* Rodapé */
footer {
    text-align: center;
    color: rgb(107 114 128 / 1); /* text-gray-500 (muted) */
    padding-top: 0.75rem; /* py-3 */
    padding-bottom: 0.75rem;
    border-top-width: 1px; /* border-t */
    border-top-style: solid;
    border-top-color: rgb(229 231 235 / 1); /* gray-200 */
    margin-top: auto;
}

